<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Online Board Game</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <ul class="players">
            <li v-for="player in players">
                <div>pos: {{ player.pos }}</div>
                <div>health: {{ player.health.current }} / {{ player.health.max }}</div>
                <div v-if="player.pending_turn != null && player.pending_turn.movement != null">pending move: {{ player.pending_turn.movement }}</div>
            </li>

            <input v-model.number="movement.x">
            <input v-model.number="movement.y">
            <button v-on:click="submitMovement()">Submit Movement</button>
        </ul>
    </div>

    <script src="main.js"></script>
</body>
</html>
